/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
 *= require spree/frontend

 *= require_self
 *= require_tree .
*/

@import "bootstrap/variables";

.taxon-offset {
  padding-left: 0px;
  padding-right: 10px;
}

@media (max-width: $screen-xs-max) {
  #taxonomies_taxons_tree {
    display: hidden;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #taxonomies_taxons_tree {
    width: ceil($container-sm / 3 - $grid-gutter-width);
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #taxonomies_taxons_tree {
    width: ceil($container-md * 0.25 - $grid-gutter-width);
  }
}

@media (min-width: $screen-lg-min) {
  #taxonomies_taxons_tree {
    width: ceil($container-lg * 0.25 - $grid-gutter-width);
  }
}

#taxonomies_taxons_tree {
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#taxonomies_wrap {
  position: absolute;
}

.taxonomies-taxon {
  position: static !important;
  padding: 0 !important;
}

.taxonomies-taxon-link {
  display: block;
  padding: 8px 15px;
}

.taxonomies-taxon-link:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.taxonomies-taxon-link:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.taxonomies-taxon-link,
.taxonomies-taxon-link:hover,
.taxonomies-taxon-link:active,
.taxonomies-taxon-link:link,
.taxonomies-taxon-link:visited {
  text-decoration: none;
  color: black;
}

.taxonomies-taxon.active > a,
.taxonomies-taxon.active > a:hover,
.taxonomies-taxon.active > a:active,
.taxonomies-taxon.active > a:link,
.taxonomies-taxon.active > a:visited {
  color: white;
}

.taxonomies-active .taxonomies-taxon {
  border-right: 0 !important;
  border-left: 1px solid rgb(180, 180, 180) !important;
}

.taxonomies-active .taxonomies-taxon:first-child {
  border-top-right-radius: 0 !important;
  border-top: 1px solid rgb(180, 180, 180) !important;
}

.taxonomies-active .taxonomies-taxon:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom: 1px solid rgb(180, 180, 180) !important;
}

.popover > ul {
  padding-left: 0;
}

.popover li {
  padding-left: 0;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border: 0;
}

.popover {
  border: 1px solid rgb(180, 180, 180) !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background: white;
  padding: 0;
  width: 600px;
  max-width: 600px;
  box-shadow: 1px 5px 5px -1px rgba(0, 0, 0, 0.25),
              1px -1px 5px -1px rgba(0, 0, 0, 0.25);
}

.taxonomies-active {
  box-shadow: 3px 5px 5px -1px rgba(0, 0, 0, 0.25),
              3px -1px 5px -1px rgba(0, 0, 0, 0.25);
}

.popover-title {
  color: black;
  background: none;
  font-size: 19px;
  border: 0;
  margin: 0;
  padding: 16px 14px 8px 14px;
}

.popover-title a, .popover-title a:active, .popover-title a:hover, .popover-title a:visited, .popover-title a:link {
  color: black;
}

.taxonomies-subtaxon-list {
  padding-left: 5px;
  width: 100%;
}

.taxonomies-subtaxon-link {
  display: block;
  padding: 3px 10px;
  text-decoration: none;
}

.taxonomies-subtaxon-link:hover,
.taxonomies-subtaxon-link:active,
.taxonomies-subtaxon-link:visited,
.taxonomies-subtaxon-link:link  {
  text-decoration: none;
}

.taxonomies-subtaxon-link:hover .taxonomies-subtaxon-name,
.taxonomies-subtaxon-link:active .taxonomies-subtaxon-name {
  text-decoration: underline;
}

.taxonomies-subtaxon {
}

.taxonomies-taxon:first-child > .taxonomies-taxon-link.maintainHover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.taxonomies-taxon:last-child > .taxonomies-taxon-link.maintainHover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.taxonomies-active .taxonomies-taxon:first-child > .taxonomies-taxon-link.maintainHover {
  border-top-right-radius: 0;
}

.taxonomies-active .taxonomies-taxon:last-child > .taxonomies-taxon-link.maintainHover {
  border-bottom-right-radius: 0;
}

.taxonomies-taxon-link.maintainHover {
  background: rgb(240, 240, 240) !important;
  border-radius: 0;
}

.taxonomies-taxon-background {
  position: absolute;
  z-index:-1;
  max-width: 598px;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 4px;
}

.taxonomies-subtaxon-description {
  display: block;
  color: gray;
  text-decoration: none;
  font-size: 12px;
}
.taxon-chevron {
  padding-top: 2px;
  color: lightgray;
}
.taxonomies-taxon-link.maintainHover .taxon-chevron {
  color: black;
}

.taxonomies-active .taxon-chevron {
  padding-right: 1px;
}
